# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/extensions.json
.svelte-kit/ambient.d.ts
.svelte-kit/non-ambient.d.ts
.svelte-kit/tsconfig.json
.svelte-kit/generated/root.js
.svelte-kit/generated/root.svelte
.svelte-kit/generated/client/app.js
.svelte-kit/generated/client/matchers.js
.svelte-kit/generated/client/nodes/0.js
.svelte-kit/generated/client/nodes/1.js
.svelte-kit/generated/client/nodes/2.js
.svelte-kit/generated/client-optimized/app.js
.svelte-kit/generated/client-optimized/matchers.js
.svelte-kit/generated/client-optimized/nodes/0.js
.svelte-kit/generated/client-optimized/nodes/1.js
.svelte-kit/generated/client-optimized/nodes/2.js
.svelte-kit/generated/server/internal.js
.svelte-kit/output/client/favicon.png
.svelte-kit/output/client/.vite/manifest.json
.svelte-kit/output/client/_app/version.json
.svelte-kit/output/client/_app/immutable/chunks/BZUzXAn1.js
.svelte-kit/output/client/_app/immutable/chunks/C6rfZMng.js
.svelte-kit/output/client/_app/immutable/chunks/CfI8e-WC.js
.svelte-kit/output/client/_app/immutable/chunks/DLyp8TLP.js
.svelte-kit/output/client/_app/immutable/chunks/j0DZseT-.js
.svelte-kit/output/client/_app/immutable/chunks/pfVlN4is.js
.svelte-kit/output/client/_app/immutable/entry/app.CSjZrbgi.js
.svelte-kit/output/client/_app/immutable/entry/start.Cnc1uf3g.js
.svelte-kit/output/client/_app/immutable/nodes/0.Bd2dMwZX.js
.svelte-kit/output/client/_app/immutable/nodes/1.Q8lGkjH9.js
.svelte-kit/output/client/_app/immutable/nodes/2.P7pZHXee.js
.svelte-kit/output/server/index.js
.svelte-kit/output/server/internal.js
.svelte-kit/output/server/manifest-full.js
.svelte-kit/output/server/manifest.js
.svelte-kit/output/server/.vite/manifest.json
.svelte-kit/output/server/chunks/exports.js
.svelte-kit/output/server/chunks/index.js
.svelte-kit/output/server/chunks/internal.js
.svelte-kit/output/server/entries/fallbacks/error.svelte.js
.svelte-kit/output/server/entries/fallbacks/layout.svelte.js
.svelte-kit/output/server/entries/pages/_page.svelte.js
.svelte-kit/output/server/nodes/0.js
.svelte-kit/output/server/nodes/1.js
.svelte-kit/output/server/nodes/2.js
.svelte-kit/types/route_meta_data.json
.svelte-kit/types/src/routes/$types.d.ts
